flows/copadoQuality__Mirror_Review_Session_Statuses_on_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Else</name>
        <label>Else</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AllCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Functional_Review_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Passed_Counter</name>
        <label>Increase Passed Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PassedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Functional_Review_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Switch_Failed_Flag</name>
        <label>Switch Failed Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasFailed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Functional_Review_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Switch_Failed_w_Findings_Flag</name>
        <label>Switch Failed w/ Findings Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HasFailedWithFindings</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Functional_Review_Outcome</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Failed</name>
        <label>Check If Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Else</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Has_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_All_Sessions.copadoQuality__Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Failed_Flag</targetReference>
            </connector>
            <label>Has Failed</label>
        </rules>
        <rules>
            <name>Has_Failed_with_Findings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_All_Sessions.copadoQuality__Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed with Findings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Failed_w_Findings_Flag</targetReference>
            </connector>
            <label>Has Failed with Findings</label>
        </rules>
        <rules>
            <name>Count_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_All_Sessions.copadoQuality__Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Passed_Counter</targetReference>
            </connector>
            <label>Count Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Changes</name>
        <label>Check Status Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome Change</defaultConnectorLabel>
        <rules>
            <name>Execution_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copadoQuality__Execution_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desired_Statuses</targetReference>
            </connector>
            <label>Execution Status Changed</label>
        </rules>
        <rules>
            <name>Automation_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copadoQuality__Automation_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Automation Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desired_Statuses</name>
        <label>Desired Statuses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copadoQuality__Execution_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copadoQuality__Execution_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_In_Progress</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Functional_Review_Outcome</name>
        <label>Update Functional Review Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_All_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasFailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed</targetReference>
            </connector>
            <label>Update Failed</label>
        </rules>
        <rules>
            <name>Update_Failed_With_Findings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasFailedWithFindings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasFailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_With_Findings</targetReference>
            </connector>
            <label>Update Failed With Findings</label>
        </rules>
        <rules>
            <name>Update_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PassedCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Update Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mirror Review Session Statuses on Review {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Mirror Review Session Statuses on Review</label>
    <loops>
        <name>Check_All_Sessions</name>
        <label>Check All Sessions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Failed</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Sessions</name>
        <label>Get All Sessions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_All_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copadoQuality__Functional_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copadoQuality__Functional_Review__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copadoQuality__Functional_Review_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Failed</name>
        <label>Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_All_Sessions</targetReference>
        </connector>
        <inputAssignments>
            <field>copadoQuality__Outcome__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.copadoQuality__Functional_Review__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Failed_With_Findings</name>
        <label>Failed With Findings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_All_Sessions</targetReference>
        </connector>
        <inputAssignments>
            <field>copadoQuality__Outcome__c</field>
            <value>
                <stringValue>Passed with Findings</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.copadoQuality__Functional_Review__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_All_Sessions</targetReference>
        </connector>
        <inputAssignments>
            <field>copadoQuality__Outcome__c</field>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.copadoQuality__Functional_Review__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_In_Progress</name>
        <label>Update In Progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>copadoQuality__Execution_Status__c</field>
            <value>
                <elementReference>$Record.copadoQuality__Execution_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.copadoQuality__Functional_Review__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>copadoQuality__Automation_Status__c</field>
            <value>
                <elementReference>$Record.copadoQuality__Automation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.copadoQuality__Functional_Review__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Changes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copadoQuality__Execution_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copadoQuality__Outcome__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copadoQuality__Automation_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copadoQuality__Functional_Review_Session__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HasFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasFailedWithFindings</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PassedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
