flows/copado_labs__Carry_Orchastrator_Job_Execution_Context.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsSingleTestRun</name>
        <label>IsQualityContext</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QualityGateContext</defaultConnectorLabel>
        <rules>
            <name>Singular</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>consolidatedResultId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Test_Job_Execution</targetReference>
            </connector>
            <label>SingleTestContext</label>
        </rules>
    </decisions>
    <formulas>
        <name>testId</name>
        <dataType>String</dataType>
        <expression>LEFT(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
{!testIds},
&quot;]&quot;,&quot;&quot;),
&quot;[&quot;,&quot;&quot;),
&quot;&apos;&quot;,&quot;&quot;),
&apos;&quot;&apos;,&apos;&apos;)
, 18)</expression>
    </formulas>
    <interviewLabel>Carry Orchastrator Job Execution Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carry Orchestrator Job Execution Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Done_Event</name>
        <label>Publish Done Event</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{&quot;isSuccess&quot;: true}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Orchastrator_Job_Execution</name>
        <label>Get Orchastrator Job Execution</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Test_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Step.copado__JobExecution__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__JobExecution__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__ParentId__c</queriedFields>
        <queriedFields>copado__Pipeline__c</queriedFields>
        <queriedFields>copado__Context__c</queriedFields>
        <queriedFields>copado__UserStoryCommit__c</queriedFields>
        <queriedFields>copado__Promotion__c</queriedFields>
        <queriedFields>copado__Deployment__c</queriedFields>
        <queriedFields>copado__Commit__c</queriedFields>
        <queriedFields>copado__Source__c</queriedFields>
        <queriedFields>copado__Snapshot__c</queriedFields>
        <queriedFields>copado__ParentRecord_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Step</name>
        <label>Get Parent Step</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Orchastrator_Job_Execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Sub_Job_Execution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobExecutionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__JobStep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test</name>
        <label>Get Test</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Test_Run_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Job_Execution</name>
        <label>Get Test Job Execution</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobExecutionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__JobExecution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SubJobExecution</name>
        <label>Update SubJobExecution</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Publish_Done_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobExecutionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Commit__c</field>
            <value>
                <elementReference>Get_Orchastrator_Job_Execution.copado__Commit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Deployment__c</field>
            <value>
                <elementReference>Get_Orchastrator_Job_Execution.copado__Deployment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ParentRecord_Id__c</field>
            <value>
                <elementReference>Get_Orchastrator_Job_Execution.copado__ParentRecord_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Pipeline__c</field>
            <value>
                <elementReference>Get_Orchastrator_Job_Execution.copado__Pipeline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__UserStoryCommit__c</field>
            <value>
                <elementReference>Get_Orchastrator_Job_Execution.copado__UserStoryCommit__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__JobExecution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Run_Steps</name>
        <label>Update Test Run Steps</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Publish_Done_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__JobExecution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobExecutionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__PipelineId__c</field>
            <value>
                <elementReference>Get_Test.copado__User_Story__r.copado__Project__r.copado__Deployment_Flow__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__JobStep__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Step</name>
        <label>Update Test Step</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_SubJobExecution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__JobExecution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobExecutionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__PipelineId__c</field>
            <value>
                <elementReference>Get_Orchastrator_Job_Execution.copado__Pipeline__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__JobStep__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsSingleTestRun</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>consolidatedResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobExecutionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
