flows/copado_labs__SetRepositoryForScan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <formulas>
        <name>gitRepositoryId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetTest.copado__User_Story__r.copado__Project__c}), IF(ISBLANK({!GetTest.copado__User_Story__r.copado__Release__c}),&apos;&apos;,{!GetTest.copado__User_Story__r.copado__Release__r.copado__Project__r.copado__Deployment_Flow__r.copado__Git_Repository__r.Id}),{!GetTest.copado__User_Story__r.copado__Project__r.copado__Deployment_Flow__r.copado__Git_Repository__r.Id})</expression>
    </formulas>
    <formulas>
        <name>testId</name>
        <dataType>String</dataType>
        <expression>LEFT(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
{!testIds},
&quot;]&quot;,&quot;&quot;),
&quot;[&quot;,&quot;&quot;),
&quot;&apos;&quot;,&quot;&quot;),
&apos;&quot;&apos;,&apos;&apos;)
, 18)</expression>
    </formulas>
    <interviewLabel>Set Repository For SCA Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Repository For SCA Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>PublishDoneEvent</name>
        <label>Publish Done Event</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: true }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetTest</name>
        <label>Get Test</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Repository_On_Job_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__User_Story__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Repository_On_Job_Step</name>
        <label>Update Repository On Job Step</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>PublishDoneEvent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobStepToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Git_RepositoryId__c</field>
            <value>
                <elementReference>gitRepositoryId</elementReference>
            </value>
        </inputAssignments>
        <object>copado__JobStep__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Publish_Error</name>
        <label>Publish Error</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <flowName>copadoQuality__Publish_Copado_Event</flowName>
        <inputAssignments>
            <name>data</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isSuccess</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>resultId</name>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>jobStepToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
